<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
      </startup>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OnlineFraudCheckSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/InstinctFraudCheckSP/InstinctFraudCheck.asmx"
                binding="basicHttpBinding" bindingConfiguration="OnlineFraudCheckSoap"
                contract="InstinctFraudCheckWebService.OnlineFraudCheckSoap"
                name="OnlineFraudCheckSoap" />
        </client>
    </system.serviceModel>
</configuration>